body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: rgba(52, 176, 168, 0.623);
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

nav {
    background-color:rgba(11, 117, 81, 0.689);
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    text-decoration: inline;
    margin: 0 15px;
}

nav ul li a{
    text-decoration: none;
    color: azure;
    font-weight: bold;
}

.content {
    padding: 20px;
}

footer {
    background-color: rgba(80, 15, 139, 0.831);
    color: white;
    padding: 10px 0;
    margin-top: 20px;
}

footer a {
    color: rgb(157, 90, 7);
    text-decoration: none;
}